<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/css/custom.css">
        <title>Partyfy</title>
    </head>
    <body>
        <div class="jumbotron">
            <br>
            <h1>Partyfy</h1>
            <h3>Make a songwish...</h3>
            <form class="form-horizontal" method="GET">
                    <div class="form-group">
                        <div class="col-xs-1"> 
                        </div>                
                        <div class="col-xs-8">
                            <input type="text" class="form-control" id="search" name="search_term" value="" placeholder="Search..."><br>
                        </div>
                        <div class="col-xs-2">
                            <input type="submit" class="form-control" value="search">
                        </div>
                        <div class="col-xs-1"> 
                            </div>     
                    </div>            
                </form>          
        </div>          
        {% for item in items %}
        <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-10">
                    <div class="media">
                        <div class="media-left">
                            <image src={{item.album.images[0].url}} width="200" height="200"></image>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">{{ item.name }}</h4>
                            <h5>{{ item.artists[0].name}}</h5>
                        </div>
                    </div> 
                </div>
                <div class="col-xs-1"></div>
        </div>  
        <br>       
        {% endfor %}        
    </body>
</html>