
.jumbotron {
	background-image: linear-gradient(to bottom,rgba(38,38,38,0),rgba(38,38,38,0.8)),url("/img/party_background.jpg");
	background-size: cover;
    text-align: center;
	font-family: 'Open Sans', sans-serif;	
	background-blend-mode:darken;
	height: 450px;
}
h1{
	color: 		white;
	text-shadow: 0 0 5px white;
	font-style: bold;	
}

h3{
	color: rgb(235, 235, 235);
}

body {
	background-color: rgb(38, 38, 38);
	color: white;
	font-family: 'Open Sans', sans-serif;
}			

.form-control{	
	color: black;
}

button{
	align-content: left;
}


#btn{
	background-color: transparent;
	background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
	outline:none;
	text-align: left;
}

.form-horizontal{
	position: relative;
	top: 30%;
	bottom: 0%;
	height: 30%;	
}

#host_body{
	background-image: linear-gradient(to bottom,rgba(38,38,38,0),rgba(38,38,38,0.8)),url("/img/party_background.jpg");
	background-repeat: no-repeat;
	height: 100%;
	background-size: cover;
	background-position: center;
	background-color: rgb(38, 38, 38);
}

.container-fluid{
	margin-top: 10%; 
	height: 80%;
	background-color: rgb(225,225,255);
	color: black;
	font-family: 'Open Sans', sans-serif;	
}
