<div id="container">
  <div id="content">
    <div id="title">
        Welcome {{username}}<br>
        <div *ngIf="page === 0">
            <app-signin-start-form></app-signin-start-form>
        </div>
        <div *ngIf="page === 1">
            <app-signin-device-form></app-signin-device-form>
        </div>
        <div *ngIf="page === 2">
            <app-signin-playlist-form></app-signin-playlist-form>
        </div>   
        <div *ngIf="page === 3">
            <app-signin-final-form></app-signin-final-form>
        </div>      
    </div>    
  </div>    
</div>