<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/css/custom.css">
        <title>Partyfy</title>
    </head>
    <body id="host_body">
        <div id="setup_container">
            <h1 id="head_text">Host your own Partyfy!</h1>
            <p id="host_information">
                Pefect! You linked your Spotifyaccount to 
                Partyfy.<br>Now it's time to select the device,
                the music will be played from.
            </p>
            {% if alert %}
            <div class="alert alert-danger" id="host_alert">
                <strong>Error!</strong> {{error}} !
            </div>               
            {% endif %}           
            <div id="host_formular">
                <form method="POST">
                    <div class="radio-devices">
                        {% for device in devices %}
                            {% if loop.first %}
                                <input type="radio" id="device{{loop.index}}" name="device" value="{{device.id}}" checked>                            
                                <label for="device{{loop.index}}">{{device.name}}</label>          
                            {% else %}   
                                <input type="radio" id="device{{loop.index}}" name="device" value="{{device.id}}">                            
                                <label for="device{{loop.index}}">{{device.name}}</label>             
                            {% endif %}
                        {% endfor %}
                    </div>
                    <input type="submit" id="host_btn_next" name="submit_device" value="device_submit">             
                </form>
            </div>
        </div>         
    </body>    
</html>
