#partyname {
    color: white;
    height: 30px;
    background-color: rgba(0, 0, 0, 0);
    border-top: none;
    border-right: none;
    border-left: none;
}

#form{
    font-size: 20pt;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    align-content: center;
}

p{
    font-size: 15pt;
    text-align: center;
}