<div id="form">
  <p>
    Please fill out the following fields to set up your own Party,
    you will have to select an Device on which you want to play the music,
    also you need to select one playlist in your libary, which will be played 
    whenever there is no songwish at the moment. At the end you will get a Code 
    for your guests. They have to simply type in the code at the front page
    and then can make a songwish.
  </p>
  <br>
  <br>  
  Partyname : <input #partyname id="partyname" type='text'>
  <br>
  <br>
  <button (click)="nextPage()">Next</button>
</div>

